/*-----------------------------------universal----------------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/*-----------------------------------layout----------------------------------*/
.main-layout{
    width: 90%;
    margin: 0px auto;
    min-height: 80vh;
    padding: 12px 6px;
}

/*-----------------------------------index----------------------------------*/
.home-heading{
    font-weight: normal;
    font-size: 24px;
    padding: 4px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 8px;
}

.notes-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.note-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px 5px;
    border-radius: 8px;
    margin: 6px;
    border: 2px solid black;
}

.note-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.green-border{
    border-color: green;
}

.red-border{
    border-color: red ;
}

.orange-border{
    border-color: orange;
}

.note-card .note-desc{
    font-size: 20px;
    padding: 8px 4px;
    text-align: center;
}

.note-card .priority{
    color: rgb(79, 78, 78);
    font-size: 16px;
    padding: 4px;
    text-transform: capitalize;
}

.action-btns{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 4px;
    margin-top: 6px;
}

.action-btns a{
    padding: 4px 8px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 8px;
    color: white;
    font-size: 16px;
}

.action-btns .edit-btn{
    border-color: green;
    background-color: green;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.action-btns .delete-btn{
    border-color: rgb(73, 5, 5);
    background-color: rgb(73, 5, 5);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.add-btn-container{
    margin-bottom: 8px;
    padding: 4px;
    text-align: end;
}

.add-btn-container .add-btn{
    padding: 5px 8px;
    border: 2px solid rgb(13, 79, 13);
    background-color: rgb(13, 79, 13);
    border-radius: 5px;
    margin-left: 8px;
    color: white;
    font-size: 18px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.add-btn-container .add-btn:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

/*-----------------------------------add-note----------------------------------*/
.add-form{
    text-align: center;
}

.add-form-sect{
    padding: 8px 4px;
}

.add-form-sect label{
    font-size: 22px;
    padding: 0px 6px;
}

.add-form-sect textarea{
    padding: 4px;
    font-size: 18px;
    margin-top: 6px;
}

.add-form-sect select{
    font-size: 18px;
    padding: 2px 4px;
    font-weight: normal;
}

.add-form-sect .submit-btn{
    padding: 5px 12px;
    border: 2px solid rgb(13, 79, 13);
    background-color: rgb(13, 79, 13);
    border-radius: 5px;
    margin-top: 8px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/*-----------------------------------delete-note----------------------------------*/

.del-text{
    text-align: center;
    font-size: 20px;
    margin-top: 14px;
    margin-bottom: 12px;
}

.del-card-container{    
    width: 100%;
}

.del-card-container .note-card{
    width: 35%;
    margin: 0px auto;
}

.del-card-container .action-btns{
    justify-content: center;
     
}

.del-card-container .action-btns .delete-btn{
    font-size: 18px;
    padding: 4px 8px;
    border: 2px solid rgb(73, 5, 5);
    border-radius: 5px;
    margin-left: 8px;
    color: white;
    cursor: pointer;
}

/*-----------------------------------nav-bar----------------------------------*/

nav{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 6px;
    margin-bottom: 5px;
}

nav p{
    font-size: 22px;
}

nav ul{
    display: flex;
    justify-content: center;
    padding-right: 5px;
    padding-left: 5px;
}

nav ul li{
    padding: 0px 10px;
    font-size: 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

/*-----------------------------------footer----------------------------------*/

footer{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 12px 6px;
    margin-top: 5px;
}

footer p{
    padding-right: 12px;
}