{% extends 'layout.html' %}

{% block body %}

<h1 class="home-heading">About This App</h1>

<section class="about-sect">
    <p class="info-txt">This is a portfolio web application built by <b>Shumie</b>.</p>
    <p class="info-txt">This site allows users to add new notes, view notes and delete notes.</p>
    <p class="info-txt">The site was built to showcase <b>Shumie's</b> skills in using Flask to built an app.</p>
    <p class="ty-info">Thank you for visiting my site.</p>
</section>


{% endblock %}